{% if restaurant.summary? %}
  <section class="page-header page-header--restaurant">
    <div class="wrapper">
      <header class="section__header page-header__header">
        <h1 class="section__title page-header__title">{{ "Le restaurant" | t }}</h1>
      </header>
      <div class="section__main page-header__description">
        {{ restaurant.summary }}
      </div>
    </div>
  </section>
{% endif %}

{% if photos.size > 0 %}
  <section class="restaurant-gallery">
    <div class="section__main gallery">
      {% for photo in photos %}
        {% include 'photo' with photo:photo, i:forloop.index, l:forloop.length %}
      {% endfor %}
    </div>
  </section>
{% endif %}
<div class="clearer"></div>